<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<body ng-app="myApp">
<div ng-controller="myCtrl">
	<input type="text" ng-model="arrFilter">
	<ul >
		<li ng-repeat="obj in objs | filter:arrFilter">Name => {{obj.Name}}, City => {{obj.City}}, Country => {{obj.Country}}</li>
	</ul>
</div>
<script type="text/javascript">
	var app=angular.module("myApp",[]);
		app.controller("myCtrl",function($scope){
			$scope.objs=[
			    {
			      "Name": "Alfreds Futterkiste",
			      "City": "Berlin",
			      "Country": "Germany"
			    },
			    {
			      "Name": "Ana Trujillo Emparedados y helados",
			      "City": "México D.F.",
			      "Country": "Mexico"
			    },
			    {
			      "Name": "Antonio Moreno Taquería",
			      "City": "México D.F.",
			      "Country": "Mexico"
			    },
			    {
			      "Name": "Around the Horn",
			      "City": "London",
			      "Country": "UK"
			    },
			    {
			      "Name": "B's Beverages",
			      "City": "London",
			      "Country": "UK"
			    },
			    {
			      "Name": "Berglunds snabbköp",
			      "City": "Luleå",
			      "Country": "Sweden"
			    },
			    {
			      "Name": "Blauer See Delikatessen",
			      "City": "Mannheim",
			      "Country": "Germany"
			    },
			    {
			      "Name": "Blondel père et fils",
			      "City": "Strasbourg",
			      "Country": "France"
			    },
			    {
			      "Name": "Bólido Comidas preparadas",
			      "City": "Madrid",
			      "Country": "Spain"
			    },
			    {
			      "Name": "Bon app'",
			      "City": "Marseille",
			      "Country": "France"
			    },
			    {
			      "Name": "Bottom-Dollar Marketse",
			      "City": "Tsawassen",
			      "Country": "Canada"
			    },
			    {
			      "Name": "Cactus Comidas para llevar",
			      "City": "Buenos Aires",
			      "Country": "Argentina"
			    },
			    {
			      "Name": "Centro comercial Moctezuma",
			      "City": "México D.F.",
			      "Country": "Mexico"
			    },
			    {
			      "Name": "Chop-suey Chinese",
			      "City": "Bern",
			      "Country": "Switzerland"
			    },
			    {
			      "Name": "Comércio Mineiro",
			      "City": "São Paulo",
			      "Country": "Brazil"
			    }
  			];
		});
</script>
</body>
</html>
