<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
	

	 <!-- <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	 <link href="../bootstrap/dist/css/font-awesome.css" rel="stylesheet" /> -->

	 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	 <link href="../bootstrap/dist/css/font-awesome.css" rel="stylesheet" />
	  -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	  

</head>

<body ng-app="myApp" style="padding-top: 20px">
<div ng-controller="myCtrl">
	<div class="container">

<div class="row justify-content-center">
<div class="col-5">

  
  <form name="empreg">
  	<div class="form-group">
     Emp. Name <div class="input-group">
       
        <input type="text" class="form-control" placeholder="Search Records" ng-model="user.empname"  >
      </div>      
    </div>
    <div class="form-group">
     Emp. Email Address <div class="input-group">
       
        <input type="text" class="form-control" placeholder="Search Records" ng-model="user.empemail" >
      </div>      
    </div>
    <div class="form-group">
    Emp. Age <div class="input-group">
       
        <input type="text" class="form-control" placeholder="Search Records" ng-model="user.empage" >
      </div>      
    </div>
    <div class="form-group">
    Emp. Phone <div class="input-group">
       
        <input type="text" class="form-control" placeholder="Search Records" ng-model="user.empphone" ng-keyup="keyupFilter(inputData);" >
      </div>      
    </div>
    <div class="form-group">
      <div class="input-group">
       
        <button name="submit" ng-click="addEmployee(user);">Submit</button>
    </div>
      </div>      
   
  </form>
 </div>
 <div class="col-10">
 	
 		<table class="table table-hover table-bordered">
  <thead class="bg-info">
      <tr>
      	<th scope="row" class="text-white">#</th>
        <th>
          <a href="javascript:void(0);" class="text-white" ng-click="sortType = 'name'; sortOrder = !sortOrder">
           Name 
            <span ng-show="sortType == 'name' && !sortOrder" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortOrder" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="javascript:void(0);"  class="text-white" ng-click="sortType = 'city'; sortOrder = !sortOrder">
         Email 
            <span ng-show="sortType == 'city' && !sortOrder" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'city' && sortOrder" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="javascript:void(0);"  class="text-white" ng-click="sortType = 'house'; sortOrder = !sortOrder">
         Age 
            <span ng-show="sortType == 'house' && !sortOrder" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'house' && sortOrder" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="javascript:void(0);"  class="text-white" ng-click="sortType = 'years'; sortOrder = !sortOrder">
         Phone 
            <span ng-show="sortType == 'years' && !sortOrder" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'years' && sortOrder" class="fa fa-caret-up"></span>
          </a>
        </th>
       
      </tr>
    </thead>
  <tbody>
    <tr  ng-repeat="record in records track by $index ">
      <th scope="row">{{$index+1}}</th>
      <td>{{record}}</td>
     
    </tr>
 <!--    <tr ng-show="!records">
    	<td colspan="6" class="text-center alert alert-danger">{{error}}</td>
    </tr>
    <tr ng-show="!( records  ).length" >
    	<td colspan="6" class="text-center alert alert-danger">No Records Found!!!</td>
    </tr> -->
    
  </tbody>
</table>
 </div>
</div>
</div>
</div>
<script type="text/javascript">
	var app=angular.module("myApp",['ngStorage']);
		app.controller("myCtrl",function($scope,$http,$localStorage,getLocalStorage){
			
			//$scope.records = null;
			$scope.addEmployee = function(user){
				user['empno'] = new Date().getTime();
				$localStorage.records=user;
				//localStorage.setItem('employees',angular.toJson(user))
				//var employees = localStorage.getItem('employees');
				//var records = angular.fromJson(localStorage.getItem('employees'));
				//localStorage.getItem('employees')//null
				//$scope.records =  angular.fromJson(localStorage.getItem('employees'));
				//console.log($scope.records);
				$scope.records = $localStorage.records;
				console.log($localStorage.records)
			}
//console.log($localStorage.records)
			if($localStorage.records){
				$scope.records = $localStorage.records;
				console.log($scope.records)
  
			}else{
				$http.get("sample-data1.json")
				.then(function(res){
					$scope.records =  res.data.records;
					$localStorage.records =  res.data.records;
					//console.log($scope.records);
				},function(res){
					$scope.error =  "Something went wrong";
				});	
			}
			/*$http.get("sample-data1.json")
			.then(function(res){
				$scope.records =  res.data.records;
				//console.log($scope.records);
			},function(res){
				$scope.error =  "Something went wrong";
			});*/




			/*$scope.sortType     = 'name'; 
			$scope.sortOrder  = false; 
			$scope.searchData   = '';
			$scope.keyupFilter = function(val){
				if(!val.trim()){
					$scope.searchData = val;	
				}				
			};
			$scope.clickFilter = function(val){
				$scope.searchData = val;
			};

			var obj = [
				
				{	cdate : new Date('30-Nov-2015 10:54:19 AM') },
				{	cdate : new Date('01-Oct-2015 10:54:19 AM') },
				{	cdate : new Date('15-Jun-2015 10:54:19 AM') },
				{	cdate : new Date('01-Dec-2015 10:54:19 AM') },
				{	cdate : new Date('30-Nov-2015 10:54:20 AM') },
				{	cdate : new Date('30-Nov-2015 10:55:19 AM') },
				{	cdate : new Date('30-Jan-2015 10:54:19 AM') },
				{	cdate : new Date('28-Feb-2015 10:54:19 AM') },
				{	cdate : new Date('30-Mar-2015 10:54:19 AM') },
				{	cdate : new Date('01-Apr-2015 10:54:19 AM') },
				{	cdate : new Date('30-Nov-2015 10:54:19 AM') },
				{	cdate : new Date('31-Aug-2015 10:54:19 AM') },
				{	cdate : new Date('01-Sep-2015 10:54:19 AM') },
				{	cdate : new Date('30-Oct-2015 10:54:19 AM') },
				{	cdate : new Date('30-Nov-2015 10:54:19 AM') },
				{	cdate : new Date('30-Dec-2015 10:54:19 AM') },
				{	cdate : new Date('30-Nov-2015 11:54:19 AM') },
				{	cdate : new Date('30-Nov-2015 12:54:19 PM') },
				{	cdate : new Date('30-Nov-2015 01:54:19 PM') },
				{	cdate : new Date('30-Nov-2015 02:54:19 AM') }

			];  

			$http.get("sample-data.json")
			.then(function(res){

				angular.forEach(obj,function(val,key){
					res.data[key]['cdate'] = obj[key].cdate;
				},res.data);
				$scope.records =  res.data;
				console.log($scope.records);
			},function(res){
				$scope.error =  "Something went wrong";
			});
*/
			

		})
		.factory('getLocalStorage', function () {                  
                var employeeList = {};  
                return {  
                    list: employeeList,  
                    updateEmployees: function (EmployeesArr) {  
                        if (window.localStorage && EmployeesArr) {  
                            //Local Storage to add Data  
                            localStorage.setItem("employees", angular.toJson(EmployeesArr));  
                        }  
                        employeeList = EmployeesArr;  
                         
                    },  
                    getEmployees: function () {  
                        //Get data from Local Storage  
                        employeeList = angular.fromJson(localStorage.getItem("employees"));                         
                        return employeeList ? employeeList : [];  
                    }  
                };  
  
            });  
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
