<div class="container" style="width:900px;">
	<div class="row" style="text-align:center">
	<div id="custom-search-input">
                            <div class="input-group col-md-3">
                                <input type="text" class="search-query form-control" ng-model="filterText"	 placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
	</div>
	<div style="text-align:right">
    <button type="submit" ng-click="Adduser()" class="btn">Add</button>
</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="headers in header">{{headers.name}}</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="data in content = (content| filter :filterText)  | limitTo:5:5*(page-1)" >
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.age}}</td>
                <td>{{data.employer}}</td>
                <td>{{data.joiningDate}}</td>
                <td>{{data.location}}</td>
				<td> <button type="submit" ng-click="Edituser(data,$index)"  class="btn">Edit</button> 
				<button type="submit" ng-click="deleteuser()" style="background-color:red" class="btn">Delete</button></td>
				
            </tr>
			<tr ng-show="content.length == "0">
			<td>No Data Found </td>
			</tr>
			
        </tbody>
    </table>
	<ul uib-pagination total-items="content.length" ng-model="page"
    ng-change="pageChanged()"   items-per-page=5></ul>
</div>

<style>


#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

	</style>